<div ng-controller="Shell as vm">
    <div id="adminNavBar" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <i class="icon-home"></i>
                    <span>Template App</span>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#/">Home</a></li>
                    <li ng-hide="auth.$getAuth()"><a data-toggle="collapse" data-target=".navbar-collapse" href="#/register">Register</a></li>
                    <li ng-show="auth.$getAuth()"><a data-toggle="collapse" data-target=".navbar-collapse" href="#/page1">Page 1</a></li>
                    <li ng-show="auth.$getAuth()"><a data-toggle="collapse" data-target=".navbar-collapse" href="#/page2">Page 2</a></li>
                </ul>
                <span ng-show="auth.$getAuth()">{{auth.$getAuth().uid}}</span>
                <form class="navbar-form navbar-right" role="form" ng-hide="auth.$getAuth()" ng-submit="vm.login()">
                    <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control" ng-model="vm.user.email">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control" ng-model="vm.user.password">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
            </div>

        </div>
    </div>

    <div ng-show="vm.showSpinner" class="page-splash dissolve-animation">
        <div data-spinner="vm.spinnerOptions"></div>
        <div class="page-splash-message page-splash-message-subtle">{{vm.spinnerMessage}}</div>
    </div>

    <div ng-view id="ng-view" class="container slide-animation admin-content"></div>

</div>